.containerIllustrationHome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0px;
}

.containerIllustrationHome img {
    width: 50%;
}

h1 {
    margin: auto;
    padding: 20px;
}

.containerCardGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 300px;
    background-color: #ebedf0;
    padding: 10px;
    margin: 10px;
}

.containerCardGallery a {
    color: inherit;
    text-decoration: inherit;
}

.containerGallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

/* .containerGallery h2{
    width: 50%;
} */
/* .containerGallery img{
    margin: auto;
} */

#footerTestLib {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #001AFF;
}

#footerTestLib section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 30%;
}

#footerTestLib section a {
    color: inherit;
    text-decoration: inherit;
}

#footerTestLib li {
    margin: 15px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navTestLib {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.navTestLib ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navTestLib ul a {
    color: inherit;
    text-decoration: inherit;
}

.lineCode {
    width: 95%;
    background-color: rgb(62, 59, 59);
    color: rgb(251, 249, 249);
    padding: 10px;
    border-radius: 10px;
}

.lineCode img {
    width: 500px;
}

/* .lineCode[data-lang="JS"]{
    color: rgb(219, 197, 53);
} */
.containerGalleryTemplate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 35px 20px;
}

.containerGalleryTemplate section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.containerGalleryTemplate h5 {
    font-size: 20px;
}

.containerGalleryTemplate section p {
    text-align: center;
}

.containerGalleryTemplate h4 {
    font-size: 30px;
    width: 100%;
    max-width: none
}

.containerGalleryTemplate section img {
    width: 350px;
}

.introFonctionnalites {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 15px;
    width: 85%;
    text-align: left;
    border-radius: 10px;
    background-color: #ebedf0;

}

.introFonctionnalites p {
    border-radius: 20px;
    background-color: #ebedf0;
    color: black;
    padding: 20px;
}

.instructionsCode {
    width: 100%;
    background-color: #ebedf0;
    color: black;
    padding: 15px;
    border-radius: 10px;
    margin: 20px 0px;
}

#getSuggestions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 30px;
    margin-top: 80px;
    padding: 20px;
    background-color: #001AFF;
    border-radius: 15px;
    color: #ffff;
}

#skipToContentImg {
    width: 500px;
    margin: auto;
}

#skipToContentExplain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

#skipToContentExplain h2 {
    width: 100%;
    max-width: none;
}

#skipToContentExplain h3 {
    text-align: center;
    background-color: #001AFF;
    width: 100%;
    max-width: none;
    color: #ebedf0;
    padding: 15px;
    border-radius: 10px;
}

#menuAccessibleExplain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

#menuAccessibleImg {
    width: 500px;
    margin: auto;
}

#menuAccessibleExplain h3 {
    text-align: center;
    background-color: #001AFF;
    width: 100%;
    max-width: none;
    color: #ebedf0;
    padding: 15px;
    border-radius: 10px;
}

.lineCode[data-img="templateMenuAccessible"] {
    margin: auto;
    width: min-content;
}

.instructionsCode[data-informations="warning"] {
    /* background-color: #001AFF;
    color: #ffff; */
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.instructionsCode ul li {
    list-style: initial;
    margin-top: 30px;
    margin-left: 15px;
    padding: 5px;
}
.instructionsCode ul li a{
    background-color: #001AFF;
    color: #ffff;
    /* color: inherit;
    text-decoration:dashed;
    outline: invert; */
}
#containerExplainFonctionnalite h2 {
    font-size: 30px;
    width: 100%;
    margin: 35px 20px;
    max-width: none;
}
.containerRessources{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    margin: 30px;
}

.containerRessources ul {
    width: 50%;
}
.informationNoter{
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.lienImportant{
    margin-top: 20px;
    background-color: #001AFF;
    color: #ffff;
}
.containerGetLib h3{
    font-size: 25px;
    margin-left: 30px;
}
.backGroundParagrapheUploadLib{
    display: flex;
    align-items: flex-start;
    justify-content: end;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    background-color: #ffff;
    width: 80%;
    padding: 40px;
    box-shadow: rgb(0 0 0 / 10%) 5px 5px 5px 0px;
}
.containerHelp{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #ebedf0;
    padding: 20px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.containerHelp h4{
    font-size: 25px;
}
.containerHelp p{
    margin-bottom: 40px;
}